.App {
  text-align: center;
}

.App-header {
  background-image: url("https://i.redd.it/tg3jnc0hdxj41.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.card-bg {
  z-index: 0;
}

/*-----------------sfondo info-------- */
.card-body::before {
  content: "";
  background-image: url("https://i.redd.it/tg3jnc0hdxj41.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

/* --------------- card inside--- ------------*/
.card-body p {
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.card {
  background-color: rgba(207, 110, 207, 0.226) !important;
}

.list-group-item {
  background-color: rgba(206, 144, 206, 0.226) !important;
}
